* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

main {
  padding-top: 80px; 
}

.link-hover-white {
  text-decoration: none;
  color: #616161;
}

.link-hover-white:hover {
  color: white;
}

::selection {
  color: white; 
  background-color: #616161; 
}
